body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 5em;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244))
}